@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.main, .header .header-mobile .header-mobile-top-container .header-mobile-top, .header .header-desktop .header-bottom-container .header-bottom, .header .header-desktop .header-top-container .header-top {
  margin: auto;
  max-width: 1320px;
  padding: 0 40px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

img {
  width: 100%;
}

.all-container {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100%;
}
@media screen and (max-width: 780px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 10000;
  }
}
.header .header-desktop {
  background-image: url(../image/capa.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
}
@media screen and (max-width: 780px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-desktop .header-top-container {
  background-color: rgba(0, 0, 0, 0.8666666667);
}
.header .header-desktop .header-top-container .header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header .header-desktop .header-top-container .header-top .logo-toodoo {
  width: 180px;
}
.header .header-desktop .header-top-container .header-top .logo-blastoff {
  background-color: #fff;
  height: inherit;
  padding: 20px 40px;
  width: 250px;
}
.header .header-desktop .header-top-container .header-top .author {
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
  text-align: right;
  text-decoration: none;
  width: 180px;
}
.header .header-desktop .header-bottom-container {
  background-color: rgba(0, 0, 0, 0.8666666667);
}
.header .header-desktop .header-bottom-container .header-bottom {
  align-items: center;
  display: flex;
  height: 75px;
}
.header .header-desktop .header-bottom-container .header-bottom .nav-list {
  align-content: center;
  display: flex;
  gap: 35px;
}
.header .header-desktop .header-bottom-container .header-bottom .nav-list .nav-list-item {
  color: #fff;
  cursor: pointer;
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
  position: relative;
  z-index: 3;
}
.header .header-desktop .header-bottom-container .header-bottom .nav-list .nav-list-item::before {
  background-color: white;
  content: "";
  display: block;
  height: 110%;
  left: -10px;
  position: absolute;
  top: -5%;
  transition: 0.6s;
  width: 3px;
  z-index: -1;
}
.header .header-desktop .header-bottom-container .header-bottom .nav-list .nav-list-item:hover::before {
  background-color: #0c1073;
  border-radius: 0 5px 5px 0;
  width: 50%;
}
.header .header-desktop .header-bottom-container .header-bottom .nav-list .nav-list-item.active::before {
  background-color: #0c1073;
  border-radius: 0 5px 5px 0;
  width: 50%;
}
.header .header-desktop .header-bottom-container .header-bottom .nav-list .nav-list-item.active:hover::before {
  opacity: 0.5;
}
.header .header-desktop .header-bottom-container .header-line {
  background-color: #ea005a;
  height: 15px;
  width: 100%;
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 780px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .header-mobile-top-container {
  background-color: #fff;
  border-bottom: solid 3px;
  padding: 10px 0;
}
.header .header-mobile .header-mobile-top-container .header-mobile-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header .header-mobile .header-mobile-top-container .header-mobile-top .header-mobile-menu {
  height: 50px;
  width: 50px;
}
.header .header-mobile .header-mobile-top-container .header-mobile-top .header-mobile-menu.none {
  opacity: 0;
}
.header .header-mobile .header-mobile-top-container .header-mobile-top .header-mobile-menu:not(.none) {
  cursor: pointer;
}
.header .header-mobile .header-mobile-top-container .header-mobile-top .header-mobile-blastoff {
  width: 200px;
}
.header .header-mobile .header-mobile-aside {
  background-color: #0c1073;
  height: calc(100vh - 80px);
  left: -100%;
  max-width: 275px;
  min-width: 175px;
  padding: 15px 20px;
  position: relative;
  transition: 0.6s;
  width: calc(50% - 50px);
}
.header .header-mobile .header-mobile-aside.active {
  left: 0;
}
.header .header-mobile .header-mobile-aside .header-menu-title {
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
  font-size: 30px;
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
}
.header .header-mobile .header-mobile-aside .nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.header .header-mobile .header-mobile-aside .nav-list.active {
  left: 0;
}
.header .header-mobile .header-mobile-aside .nav-list .nav-list-item {
  color: #fff;
  cursor: pointer;
  font-size: 21px;
  position: relative;
  transition: 0.6s;
  width: fit-content;
  z-index: 3;
}
.header .header-mobile .header-mobile-aside .nav-list .nav-list-item::before {
  background-color: white;
  content: "";
  display: block;
  height: 110%;
  left: -10px;
  position: absolute;
  top: -5%;
  transition: 0.6s;
  width: 3px;
  z-index: -1;
}
.header .header-mobile .header-mobile-aside .nav-list .nav-list-item:hover::before {
  background-color: #ea005a;
  border-radius: 0 5px 5px 0;
  width: 50%;
}
.header .header-mobile .header-mobile-aside .nav-list .nav-list-item.active::before {
  background-color: #ea005a;
  border-radius: 0 5px 5px 0;
  width: 50%;
}
.header .header-mobile .header-mobile-aside .nav-list .nav-list-item.active:hover::before {
  opacity: 0.3;
}

.main {
  padding-bottom: 75px;
  padding-top: 40px;
  min-height: 25vh;
}
@media screen and (max-width: 780px) {
  .main {
    min-height: calc(100vh - 100px);
    padding-top: 100px;
  }
}
.main .all-courses {
  display: none;
}
.main .all-courses .course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.main .all-courses .course-list .course-list-item {
  border-radius: 5px;
  box-shadow: 4px 2px 40px rgba(170, 170, 170, 0.6666666667);
  column-gap: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  overflow: hidden;
}
.main .all-courses .course-list .course-list-item:hover .course-image .course-links {
  width: 100%;
}
.main .all-courses .course-list .course-list-item .course-image {
  position: relative;
  width: 100%;
}
.main .all-courses .course-list .course-list-item .course-image .course-links {
  background-color: #ea005a;
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 21px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: 0.6s;
  width: 10px;
}
.main .all-courses .course-list .course-list-item .course-image .course-links.active {
  width: 100%;
}
.main .all-courses .course-list .course-list-item .course-image .course-links .course-links-title {
  margin: 15px;
}
.main .all-courses .course-list .course-list-item .course-image .course-links .course-links-list {
  margin: auto;
  width: fit-content;
}
.main .all-courses .course-list .course-list-item .course-image .course-links .course-links-list .course-links-list-item {
  font-size: 21px;
}
.main .all-courses .course-list .course-list-item .course-image .course-links .course-links-list .course-links-list-item a {
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}
.main .all-courses .course-list .course-list-item .course-image .course-links .course-links-list .course-links-list-item a:hover {
  background-color: #0c1073;
}
.main .all-courses .course-list .course-list-item .course-info {
  height: 190px;
  height: fit-content;
  padding: 15px 10px 30px;
}
.main .all-courses .course-list .course-list-item .course-info .course-title {
  font-family: "Chakra Petch", sans-serif;
  font-size: 28px;
  margin: auto;
  width: fit-content;
}
.main .all-courses .course-list .course-list-item .course-info .course-description {
  height: 6rem;
  margin-top: 10px;
  overflow: hidden;
}
.main .new-courses .table-courses {
  width: 100%;
  display: block;
}
.main .new-courses .table-courses tbody,
.main .new-courses .table-courses tr,
.main .new-courses .table-courses th,
.main .new-courses .table-courses td {
  width: 100%;
  display: block;
}
.main .new-courses .table-courses tr {
  display: flex;
}
.main .new-courses .table-courses tr p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 21px;
  height: inherit;
  margin: auto;
  padding: 10px 20px;
  width: fit-content;
}
.main .new-courses .table-courses th,
.main .new-courses .table-courses td {
  border: solid 1px #000;
}
.main .new-courses .table-courses .tr-course-title .th-course-title {
  align-items: center;
  background-color: #fb798d;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .new-courses .table-courses .tr-course-title .th-course-title p {
  background-color: #fff;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}
.main .new-courses .table-courses .tr-course {
  width: 100%;
}
.main .new-courses .table-courses .tr-course:nth-child(2n+1) .td-course.tag {
  background-color: #fb798d;
}
.main .new-courses .table-courses .tr-course .td-course {
  align-items: center;
  display: flex;
  justify-content: center;
}
.main .new-courses .table-courses .tr-course .td-course.tag {
  background-color: #f93150;
  color: #fff;
  max-width: 430px;
}
.main .new-courses .table-courses .tr-course .td-course label {
  border-radius: 50%;
  border: solid 1px;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
}
.main .new-courses .table-courses .tr-course .td-course label input[type=radio] {
  display: none;
  height: 30px;
  margin: auto;
  position: relative;
  width: 30px;
}
.main .new-courses .table-courses .tr-course .td-course label input[type=radio]:checked + span {
  display: block;
}
.main .new-courses .table-courses .tr-course .td-course label .status-active {
  animation: spin 3s linear infinite;
  background-image: url(../image/status-checked.svg);
  background-size: contain;
  display: none;
  height: 25px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.main .new-courses .table-courses .tr-course .td-course input {
  font-size: 21px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: #0c1073;
  border-top: solid 1px #fff;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 10000;
}
.footer p {
  color: #fff;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
