@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$bd-pink-dark: #f93150;
$bd-pink-light: #fb798d;
$bg-blue-dark: #0c1073;
$bg-blue-light: #988fff;
$bg-blue: #7379f1;
$bg-pink: #ea005a;
$font-text: "Lato", sans-serif;
$font-title: "Chakra Petch", sans-serif;
$text-color-dark: #000;
$text-color-light: #fff;

%page-container {
  margin: auto;
  max-width: 1320px;
  padding: 0 40px;
  width: 100%;
}

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

img {
  width: 100%;
}

.all-container {
  min-height: 100vh;
  font-family: $font-text;
}

.header {
  display: none; // LIMAO
  width: 100%;
  @include media(780px) {
    position: fixed;
    top: 0;
    z-index: 10000;
  }
  .header-desktop {
    background-image: url(../image/capa.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-between;
    @include media(780px) {
      display: none;
    }
    & .header-top-container {
      background-color: #000d;
      & .header-top {
        @extend %page-container;
        align-items: center;
        display: flex;
        justify-content: space-between;
        & .logo-toodoo {
          width: 180px;
        }
        & .logo-blastoff {
          background-color: #fff;
          height: inherit;
          padding: 20px 40px;
          width: 250px;
        }
        & .author {
          color: $text-color-light;
          font-family: $font-title;
          font-size: 30px;
          text-align: right;
          text-decoration: none;
          width: 180px;
        }
      }
    }
    & .header-bottom-container {
      background-color: #000d;
      & .header-bottom {
        @extend %page-container;
        align-items: center;
        display: flex;
        height: 75px;
        & .nav-list {
          align-content: center;
          display: flex;
          gap: 35px;
          & .nav-list-item {
            color: $text-color-light;
            cursor: pointer;
            font-family: $font-title;
            font-size: 30px;
            position: relative;
            z-index: 3;
            &::before {
              background-color: white;
              content: "";
              display: block;
              height: 110%;
              left: -10px;
              position: absolute;
              top: -5%;
              transition: 0.6s;
              width: 3px;
              z-index: -1;
            }
            &:hover {
              &::before {
                background-color: $bg-blue-dark;
                border-radius: 0 5px 5px 0;
                width: 50%;
              }
            }
            &.active {
              &::before {
                background-color: $bg-blue-dark;
                border-radius: 0 5px 5px 0;
                width: 50%;
              }
              &:hover {
                &::before {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
      & .header-line {
        background-color: $bg-pink;
        height: 15px;
        width: 100%;
      }
    }
  }
  .header-mobile {
    display: none;
    @include media(780px) {
      display: block;
    }
    & .header-mobile-top-container {
      background-color: #fff;
      border-bottom: solid 3px;
      padding: 10px 0;
      & .header-mobile-top {
        @extend %page-container;
        align-items: center;
        display: flex;
        justify-content: space-between;
        & .header-mobile-menu {
          height: 50px;
          width: 50px;
          &.none {
            opacity: 0;
          }
          &:not(.none) {
            cursor: pointer;
          }
        }
        & .header-mobile-blastoff {
          width: 200px;
        }
      }
    }
    & .header-mobile-aside {
      background-color: $bg-blue-dark;
      height: calc(100vh - 80px);
      left: -100%;
      max-width: 275px;
      min-width: 175px;
      padding: 15px 20px;
      position: relative;
      transition: 0.6s;
      width: calc(50% - 50px);
      &.active {
        left: 0;
      }
      & .header-menu-title {
        color: $text-color-light;
        font-family: $font-title;
        font-size: 30px;
        font-size: clamp(18px, 30px, 30px);
        margin: auto;
        margin-bottom: 20px;
        width: fit-content;
      }
      & .nav-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &.active {
          left: 0;
        }
        & .nav-list-item {
          color: $text-color-light;
          cursor: pointer;
          font-size: 21px;
          position: relative;
          transition: 0.6s;
          width: fit-content;
          z-index: 3;
          &::before {
            background-color: white;
            content: "";
            display: block;
            height: 110%;
            left: -10px;
            position: absolute;
            top: -5%;
            transition: 0.6s;
            width: 3px;
            z-index: -1;
          }
          &:hover {
            &::before {
              background-color: $bg-pink;
              border-radius: 0 5px 5px 0;
              width: 50%;
            }
          }
          &.active {
            &::before {
              background-color: $bg-pink;
              border-radius: 0 5px 5px 0;
              width: 50%;
            }
            &:hover {
              &::before {
                opacity: 0.3;
              }
            }
          }
        }
      }
    }
  }
}

.main {
  @extend %page-container;
  padding-bottom: 75px;
  padding-top: 40px;
  min-height: 25vh;
  @include media(780px) {
    min-height: calc(100vh - 100px);
    padding-top: 100px;
  }
  & .all-courses {
    display: none; //Limao
    & .course-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      width: 100%;
      & .course-list-item {
        border-radius: 5px;
        box-shadow: 4px 2px 40px #aaaa;
        column-gap: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        max-width: 260px;
        overflow: hidden;
        &:hover {
          & .course-image {
            & .course-links {
              width: 100%;
            }
          }
        }
        & .course-image {
          position: relative;
          width: 100%;
          & .course-links {
            background-color: $bg-pink;
            color: $text-color-light;
            font-family: $font-title;
            font-size: 21px;
            height: 100%;
            overflow: hidden;
            // overflow-y: scroll;
            position: absolute;
            transition: 0.6s;
            width: 10px;
            &.active {
              width: 100%;
            }
            & .course-links-title {
              margin: 15px;
            }
            & .course-links-list {
              margin: auto;
              width: fit-content;
              & .course-links-list-item {
                font-size: 21px;
                & a {
                  border-radius: 10px;
                  color: $text-color-light;
                  display: inline-block;
                  padding: 5px 10px;
                  text-decoration: none;
                  transition: 0.3s;
                  white-space: nowrap;
                  &:hover {
                    background-color: $bg-blue-dark;
                  }
                }
              }
            }
          }
        }
        & .course-info {
          height: 190px;
          height: fit-content;
          padding: 15px 10px 30px;
          & .course-title {
            font-family: $font-title;
            font-size: clamp(21px, 28px, 28px);
            margin: auto;
            width: fit-content;
          }
          & .course-description {
            height: 6rem;
            margin-top: 10px;
            overflow: hidden;
          }
        }
      }
    }
  }
  & .new-courses {
    // display: none;
    & .table-courses {
      width: 100%;
      display: block;
      &:not(:last-child) {
        margin-bottom: 75px;
      }
      & tbody,
      tr,
      th,
      td {
        width: 100%;
        display: block;
      }
      tr {
        display: flex;
        & p {
          font-family: $font-title;
          font-size: 21px;
          height: inherit;
          margin: auto;
          padding: 10px 20px;
          width: fit-content;
        }
      }
      th,
      td {
        border: solid 1px #000;
      }
      & .tr-course-title {
        & .th-course-title {
          align-items: center;
          background-color: $bd-pink-light;
          border: solid 1px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          & p {
            background-color: #fff;
            border-left: solid 1px #000;
            border-right: solid 1px #000;
          }
        }
      }
      & .tr-course {
        width: 100%;
        &:nth-child(2n + 1) {
          & .td-course.tag {
            background-color: $bd-pink-light;
          }
        }
        & .td-course {
          align-items: center;
          display: flex;
          justify-content: center;
          &.tag {
            background-color: $bd-pink-dark;
            color: $text-color-light;
            max-width: 430px;
          }
          & label {
            border-radius: 50%;
            border: solid 1px;
            cursor: pointer;
            height: 30px;
            position: relative;
            width: 30px;
            & input {
              &[type="radio"] {
                display: none;
                height: 30px;
                margin: auto;
                position: relative;
                width: 30px;
                &:checked {
                  & + span {
                    display: block;
                  }
                }
              }
            }
            & .status-active {
              animation: spin 3s linear infinite;
              background-image: url(../image/status-checked.svg);
              background-size: contain;
              display: none;
              height: 25px;
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 25px;
              @keyframes spin {
                0% {
                  transform: translate(-50%, -50%) rotate(0deg);
                }
                100% {
                  transform: translate(-50%, -50%) rotate(360deg);
                }
              }
            }
          }
          & input {
            font-size: 21px;
            height: 100%;
            text-align: center;
            width: 100%;
          }
        }
      }

      & .td-table-spots {
        border: 0;
        & .table-spots {
          width: 100%;
          & .tr-spots-title {
            background-color: $bg-blue;
            width: 100%;
            & .th-spots-title {
              color: $text-color-light;
            }
          }
          & .tr-spots {
            &:nth-child(2n + 1) {
              & .td-spots:first-child {
                background-color: $bg-blue;
              }
              &.tr-spots-button {
                & .td-spots-button {
                  background-color: $bg-blue-light;
                  &:active {
                    background-color: $bg-blue;
                  }
                }
              }
            }
            &.tr-spots-button {
              border: 0;
              td:not(.td-spots-button) {
                opacity: 0;
              }
              & .td-spots-button {
                background-color: $bg-blue;
                color: $text-color-light;
                cursor: pointer;
                transition: 0.3s;
                &:active {
                  background-color: $bg-blue-light;
                }
              }
            }
            & .td-spots {
              width: 100%;
              &.tag {
                background-color: $bg-blue-light;
                color: $text-color-light;
              }
              &.input-image {
                align-items: center;
                display: flex;
                justify-content: center;
                & .input-spot-image {
                  display: none;
                  &:checked + .label-spot-image {
                    background-color: $bg-blue;
                  }
                }
                & .label-spot-image {
                  border-radius: 0;
                  display: block;
                  height: 30px;
                  margin: auto;
                  transition: 0.6s;
                  width: 30px;
                }
              }
            }
          }
        }
      }
    }
    & .button-create-json{
      background-color: $bd-pink-light;
      border-radius: 10px;
      color: $text-color-light;
      cursor: pointer;
      font-size: 21px;
      margin: auto;
      padding: 20px 100px;
      text-transform: uppercase;
      transition: .3s;
      width: fit-content;
      &:active{
        background-color: $bd-pink-dark;
      }
    }
  }
}

.footer {
  align-items: center;
  background-color: $bg-blue-dark;
  border-top: solid 1px #fff;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 10000;
  & p {
    color: #fff;
    font-size: clamp(28px, 30px, 36px);
  }
}
